<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h3><b>Create new Listing</b></h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
        id="listing-form"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            id="title"
            name="listing[title]"
            placeholder="Enter title"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a title.</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            id="description"
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please provide a description.</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              id="price"
              name="listing[price]"
              placeholder="Enter price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please provide a valid price!</div>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              id="country"
              name="listing[country]"
              placeholder="Enter country"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please provide a valid country!</div>
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input
            type="file"
            id="image"
            name="listing[image]"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select
            name="listing[category]"
            id="category"
            class="form-select"
            required
          >
            <option value="" disabled selected>Select a category</option>
            <option value="Beach">Beach</option>
            <option value="Camping">Camping</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
            <option value="Cities">Cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Deserts">Deserts</option>
            <option value="Lakes">Lakes</option>
            <option value="Rooms">Rooms</option>
            <option value="Pools">Pools</option>
            <option value="Historical">Historical</option>
          </select>
          <div class="invalid-feedback">Please select a category.</div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            id="location"
            name="listing[location]"
            placeholder="Enter location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a valid location!</div>
          <div class="valid-feedback">Looks good!</div>
          <input
            type="hidden"
            name="listing[geometry][coordinates]"
            id="coordinates"
            value=""
          />
        </div>
        <br />
        <button class="btn btn-dark new-btn">Create Listing</button>
        <br />
        <br />
      </form>
    </div>
  </div>
  <script src="/js/geocode.js"></script>
</body>
